.card {
    width: 50%;
    margin: 0 25%;
}
.clicked {
    background-size: cover;
    background-color: yellow;
}
#changePageForm {
    text-align: center;
}
#topLevelContainer {
    padding: 0;
    height: 100%;
}
#sidebar {
    height: stretch;
    min-height: 100vh;
}
body {
    min-height: 100vh;
}