.card {
    width: 50%;
    margin: 0 25%;
    background-size: cover;
    border: solid black;
    border-radius: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.clicked {
    background-color: yellow;
}
#changePageForm {
    text-align: center;
}